html
  head
    link(rel="stylesheet" href="./css/all.min.css")
    link(rel="stylesheet" href="./css/pendeza.min.css")
    link(rel="stylesheet" href="./css/style.css")
    script(src="./script/vue.js")
  body
    div(class="wrapper text-center" id="app")
      h1 Password generator
      button(class="large" v-on:click="generatePassword") Generate password
      p(class="text-success" v-text="my_generated_password")
    script(src="./script/script.js" defer)
